{% load static %}

s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>space.com</title>
    <link rel="stylesheet" href="{% static 'home_css_hacktues.css' %}">
</head>
<header>
    <a class ="logo" href = "#">Logo</a>
    <nav>
        <ul class = "Buttons">
            <li><a href = "{% url 'quiz' %}">Quiz</a></li>
            <li><a href = "#">Info</a></li>
        </ul>
    </nav>
    <a href=""><button class="button"><strong>Sign up</strong></button></a>
</header>
<body>

      
   
    </div>

</body>