<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>space.com</title>
    <link rel="stylesheet" href="home_css_hacktues.css">
</head>
<header class = "navbar">
       <nav>
           <ul>
               <li><a href = "#">Home</a></li>
               <li><a href = "quiz.html">Quiz</a></li>
               <li><a href = "#">Info</a></li>
           </ul>
       </nav>
</header>
<body>

    <div>
        <link rel="stylesheet" href="home_css_hacktues.css"> 
    <div>
        <a href=""><button class="button"><strong>Sign up</strong></button></a>
   
    </div>

</body>