{% load static %}

s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>space.com</title>
    <link rel="stylesheet" href="{% static 'home_css_hacktues.css' %}">
</head>
<header>
    <a class ="logo">Cosmic Learning</a>
    <nav>
        <ul class = "Buttons">
            <li><a href = "/">Home</a></li>
            <li><a href = "info">Info</a></li>
        </ul>
    </nav>
    <a href=""><button class="button"><strong>Sign up</strong></button></a>
</header>
<body>

    <img src = "{% static 'page_01A.jpg' %}" class = "image">      
   
    </div>

</body>
</html>